/*  External style sheet for aboutLadyMondegreen.html
    Author:  Elspeth Stalter-Clouse
    Date:  12/9/2018
*/

/*
    Below are styles that are specific to the
    aboutLadyMondegreen.html web page
*/

body {
	background-image: url(../images/morrisWallpaper3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

div#wrapper {
	background-color: rgba(0, 0, 0, 0.9);
	border: .4em ridge teal;
	color: #75a09b;
	padding: 3em;
}

header h1 {
	background-color: rgba(2, 33, 29, 0.7);
	border: .1em double #24b7a6;
	border-radius: 1em;
	color: #dde2be;
	font-family: "Eagle Lake", Garamond, serif;
	font-size: 4em;
	padding: .2em;
	text-shadow: 3px 4px 5px teal;
}

figure#photoContainer {
	/* background-color: #7da09c;      /* TEMP FOR TESTING */
	float: left;
	margin: 1em 3.5em .5em 0em;
	width: 43em;
}

figure#photoContainer img {
	border: .5em ridge #4c0505;
	border-radius: 2em;
	width: 100%;
}

article#ladyMondegreenBio p:first-letter {
	color: #dde2be;
	font-size: 3em;
	text-shadow: 3px 4px 5px teal;
}

article#ladyMondegreenBio a:link {
	color: #7a1425;
	text-decoration: none;
	transition-duration: .3s;
	transition-property: all;
}

article#ladyMondegreenBio a:visited {
	color: #aa7b82;
}

article#ladyMondegreenBio a:focus {
	color: gold;
	text-shadow: 2px 3px 4px maroon;
}

article#ladyMondegreenBio a:hover {
	color: gold;
	text-shadow: 2px 3px 4px maroon;
}

footer {
	clear: all;
	margin-top: 4em;
}

nav#footerNav {
	text-align: center;
}

nav#footerNav a:link {
	background-color: rgba(2, 33, 29, 0.7);
	border: .2em double #24b7a6;
	border-radius: 1em;
	color: #dde2be;
	font-size: 1.5em;
	margin: 2em;
	padding: 1em;
	text-decoration: none;
	text-shadow: 2px 3px 4px teal;
	transition-duration: .3s;
	transition-property: all;
}

nav#footerNav a:visited {
	background-color: rgba(2, 30, 21, 0.9);
	border: .2em double #496361;
	color: #9e8e60;
	text-shadow: 1px 2px 3px teal;
}

nav#footerNav a:focus {

}

nav#footerNav a:hover {
	background-color: rgba(6, 56, 49, 0.8);
	border: .25em double cyan;
	box-shadow: 3px 4px 5px teal;
	color: gold;
}
