/*  External style sheet for featuredEggcorn.html
    Author:  Elspeth Stalter-Clouse
    Date:  12/2/2018
*/

/*
    Below are styles that are specific to the
    featuredEggcorn.html web page
*/

body {
	background-image: url(../images/fish.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

div#wrapper {
	background-color: rgba(7, 89, 86, 0.6);
	border: .2em ridge midnightblue;
	color: #f4ca75;
}

header h1 {
	color: #868acc;
	font-family: "Eagle Lake", Garamond, serif;
	font-size: 5em;
	margin-bottom: 0em;
	margin-top: 0em;
	text-shadow: 3px 4px 5px #2800ad;
}

header h2 {
	color: #f4ca75;
	font-family: "Eagle Lake", Garamond, serif;
	font-size: 3em;
	margin-bottom: 0em;
	text-shadow: 2px 3px 4px #f78b07;
}

header h2#instrumentName {
	color: #ed9cd4;
	margin-top: 0em;
	text-shadow: 2px 3px 4px #c10040;
}

figure#photoContainer {
	/* background-color: teal; /* TEMP FOR TESTING */
	float: right;
	width: 40em;
}

figure#photoContainer img {
	border: .3em ridge #7b70aa;
	border-radius: 2em;
	width: 100%;
}

article#godfreysBio {
	font-size: 1.1em;
}

article#godfreysBio p:first-letter {
	color: #868acc;
	font-size: 3em;
	text-shadow: 3px 4px 5px #2800ad;
}

hr {
	border: .1em ridge midnightblue;
}

h2#philippaLetticeButtons {
	color: #868acc;
	text-align: center;
	text-shadow: 2px 3px 4px #2800ad;
}

span#smallSpacer {
	margin: 1.5em;
}

button {
	background-color: #61ccb1;
	border: .2em ridge #fc8a00;
	border-radius: .7em;
	color: #593d7f;
	font-family: "Eagle Lake", Garamond, serif;
	font-size: 1.1em;
	font-weight: bold;
	padding: .4em;
	text-shadow: 1px 1px 3px teal;
	transition-duration: .3s;
	transition-property: all;
	width: 12em;
}

button:focus {
	background-color: #a0d6bf;
	border: .2em inset #ffbb00;
	box-shadow: 3px 4px 5px black;
	color: #a16ee5;
	text-shadow: 1px 1px 3px midnightblue;	
}

button:hover {
	background-color: #a0d6bf;
	border: .2em inset #ffbb00;
	box-shadow: 3px 4px 5px black;
	color: #a16ee5;
	text-shadow: 1px 1px 3px midnightblue;
}

article#godfreyAnswers {
	color: #ed9cd4;
	text-align: center;
}

footer {
	clear: all;
	margin-top: 3em;
	text-align: center;
}

nav#footerNav a:link {
	background-color: #2f9179;
	border: .3em ridge #40227c;
	border-radius: .8em;
	color: #fc8a00;
	font-size: 1.1em;
	padding: .5em;
	text-decoration: none;
	text-shadow: 1px 2px 3px black;
	transition-duration: .3s;
	transition-property: all;

}

nav#footerNav a:visited {
	background-color: #326d6a;
	border: .3em ridge #4c4060;
	color: #ff6e00;
}

nav#footerNav a:focus {
	background-color: #6be0bd;
	border: .2em outset #bea0ef;
	box-shadow: 3px 4px 5px black;
	color: #e04a00;
	text-shadow: 1px 2px 3px teal;
}

nav#footerNav a:hover {
	background-color: #6be0bd;
	border: .2em outset #bea0ef;
	box-shadow: 3px 4px 5px black;
	color: #e04a00;
	text-shadow: 1px 2px 3px teal;
}
