/*  External style sheet for listen.html
    Author:  Elspeth Stalter-Clouse
    Date:  12/4/2018
*/

/*
    Below are styles that are specific to the
    listen.html web page
*/

body {
	background-image: url(../images/lonelyTree.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

div#wrapper {
	background-color: rgba(135, 127, 85, 0.8);
	border: .3em ridge #537048;
	color: #281e01;
}

header {
	background-color: rgba(229, 208, 126, 0.3);
	border: .3em ridge #382d03;
	border-radius: 10em;
	margin-left: auto;
	margin-right: auto;
	padding: .2em;
	width: 45em;
}

header h1 {
	color: #604b2c;
	font-family: "Eagle Lake", Garamond, serif;
	font-size: 6em;
	margin-bottom: 0em;
	margin-top: 0em;
	text-shadow: 3px 4px 5px black;
}

header h2 {
	color: #7f4100;
	font-family: "Eagle Lake", Garamond, serif;
	margin-bottom: 2em;
	margin-bottom: .5em;
	margin-top: 0em;
	text-shadow: 1px 2px 2px black;
}

article#introParagraph {
	color: #2d251c;
	margin-bottom: 5em;
	margin-top: 3em;
}

article#introParagraph a:link {
	color: #7f4100;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	transition-duration: .3s;
	transition-property: all;
}

article#introParagraph a:visited {
	color: #7f4100;
}

article#introParagraph a:focus {
	color: #d6720e;
	text-shadow: 1px 2px 3px black;
}

article#introParagraph a:hover {
	color: #d6720e;
	text-shadow: 1px 2px 3px black;
}

article.spacer {
	margin-bottom: 8em;
	margin-top: 8em;
}

article.albumInfo p:first-letter {
	color: #edc149;
	font-size: 3em;
	text-shadow: 1px 2px 3px black;
}

article.albumInfo {
	font-size: 1.1em;
}

figure.photoContainer {
	/* background-color: teal; /* TEMP FOR TESTING */
	float: left;
	width: 25em;
}

img {
	border: .4em ridge #ffae00;
	transition-duration: .2s;
	transition-property: all;
	width: 100%;
}

img:focus {
	border: .3em outset #ffd000;
	box-shadow: 3px 4px 5px black;
}

img:hover {
	border: .3em outset #ffd000;
	box-shadow: 3px 4px 5px black;
}

footer {
	clear: all;
	margin-top: 4em;
	text-align: center;
}

nav#footerNav {
	font-size: 2em;
}

nav#footerNav a:link {
	background-color: #544723;
	border: .3em ridge #52684f;
	border-radius: 1em;
	color: #edc149;
	padding: .5em;
	text-decoration: none;
	text-shadow: 2px 3px 4px black;
	transition-duration: .3s;
	transition-property: all;
}

nav#footerNav a:visited {
	background-color: #281e01;
	border: .3em ridge #3d5b40;
	color: #966e00;
}

nav#footerNav a:focus {
	background-color: #604b06;
	border: .2em outset #8aa57f;
	color: #eddc7b;
	box-shadow: 3px 4px 5px black;
}

nav#footerNav a:hover {
	background-color: #604b06;
	border: .2em outset #8aa57f;
	color: #eddc7b;
	box-shadow: 3px 4px 5px black;
}