/*  External style sheet for newFriend.html
    Author:  Elspeth Stalter-Clouse
    Date:  12/16/2018
*/

/*
    Below are styles that are specific to the
    newFriend.html web page
*/

body {
	background-image: url(../images/lonelyTree.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

div#wrapper {
	background-color: rgba(255, 255, 255, 0.5);
	border: .1em solid #3f6050;
	box-shadow: -2px -3px 4px grey;
	color: #203a26;
	font-weight: bold;
}

header h1 {
	color: #5d8767;
	font-family: "Eagle Lake", Garamond, serif;
	font-size: 4em;
	margin-top: 0em;
	text-shadow: 3px 4px 5px #203a26;
}

header h2 {
	color: #dba400;
	font-family: "Eagle Lake", Garamond, serif;
	font-size: 2em;
	margin-bottom: 0em;
	text-shadow: 2px 3px 4px #302f2d;
}

span.smallSpacer {
	margin: 1em;
}

legend {
	background-color: rgba(255, 178, 0, 0.5);
	border: .2em ridge #91c198;
	border-radius: .5em;
	color: #262525;
	font-weight: bold;
	padding: .5em;
	text-shadow: 2px 3px 4px darkorange;
}

fieldset {
	background-color: rgba(244, 194, 66, 0.3);
	border: .2em ridge #59755d;
	border-radius: .5em;
	margin: 2em;
}

label {
	text-shadow: 1px 1px 2px gray;
}

fieldset#patronName {
	width: 42em;
}

fieldset#patronAddress {
	width: 55em;
}

fieldset#patronContactInformation {
	width: 45em;
}

input#patronEmail {
	width: 18em;
}

fieldset#mailingList {
	text-align: center;
	width: 16em;
}

fieldset#paymentInfo {
	width: 20em;
}

fieldset#houseConcert {
	width: 35em;
}

input.textBox {
	background-color: #90b2a1;
	border: .2em ridge goldenrod;
	border-radius: .5em;
	font-family: "Eagle Lake", Garamond, serif;
	padding: .3em;
	transition-duration: .3s;
	transition-property: all;
}

input.textBox:focus {
	background-color: #a1cea4;
	border: .2em ridge gold;
	box-shadow: 3px 4px 5px #8e690b;
}

input.textBox:hover {
	background-color: #a1cea4;
	border: .2em ridge gold;
	box-shadow: 3px 4px 5px #8e690b;
}

select {
	background-color: #90b2a1;
	border: .2em ridge goldenrod;
	border-radius: .5em;
	font-family: "Eagle Lake", Garamond, serif;
	padding: .3em;
	transition-duration: .3s;
	transition-property: all;
}

select:focus {
	background-color: #a1cea4;
	border: .2em ridge gold;
	box-shadow: 3px 4px 5px #8e690b;
}

select:hover {
	background-color: #a1cea4;
	border: .2em ridge gold;
	box-shadow: 3px 4px 5px #8e690b;
}

textarea {
	background-color: #90b2a1;
	border: .2em ridge goldenrod;
	border-radius: .5em;
	font-family: "Eagle Lake", Garamond, serif;
	height: 20em;
	padding: 1em;
	transition-duration: .3s;
	transition-property: all;
	width: 40em;
}

textarea:focus {
	background-color: #a1cea4;
	border: .2em ridge gold;
	box-shadow: 3px 4px 5px #8e690b;
}

textarea:hover {
	background-color: #a1cea4;
	border: .2em ridge gold;
	box-shadow: 3px 4px 5px #8e690b;
}

p#controlButtons input {
	background-color: #90b2a1;
	border: .2em ridge goldenrod;
	border-radius: .5em;
	font-family: "Eagle Lake", Garamond, serif;
	font-size: 1.1em;
	padding: .3em;
	transition-duration: .3s;
	transition-property: all;
}

p#controlButtons input:focus {
	background-color: #a1cea4;
	border: .2em ridge gold;
	box-shadow: 3px 4px 5px #8e690b;
}

p#controlButtons input:hover {
	background-color: #a1cea4;
	border: .2em ridge gold;
	box-shadow: 3px 4px 5px #8e690b;
}

article#events {
	margin-top: 3em;
}

hr {
	border: .1em ridge #739376;
}

article#events p{
	text-align: center;
}

article#events a:link {
	color: #ba4a05;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 2px black;
	transition-duration: .3s;
	transition-property: all;
}

article#events a:visited {
	color: #8e3b07;
}

article#events a: focus {
	color: #e55700;
}

article#events a:hover {
	color: #e55700;
}

footer {
	margin-top: 3em;
}

nav#footerNav {
	text-align: center;
}

nav#footerNav a:link {
	background-color: #f9c03b;
	border: .3em ridge #90b2a1;
	border-radius: 1em;
	color: #513d0d;
	padding: .5em;
	text-decoration: none;
	transition-duration: .3s;
	transition-property: all;
}

nav#footerNav a:visited {
	background-color: #d1b95c;
	border: .3em ridge #5d705d;
	color: #3d371f;
}

nav#footerNav a:focus {

}

nav#footerNav a:hover {
	background-color: #ffdc5e;
	border: .3em inset #b2ffb2;
	box-shadow: 3px 4px 5px #8e690b;
	color: #965200;
	text-shadow: 1px 1px 2px darkorange;
}