/*  External style sheet for allArtists.html
    Author:  Elspeth Stalter-Clouse
    Date:  09/15/2018
*/

/*
    Below are styles that are specific to the
    allArtists.html web page
*/

body {
    background-image: url(../images/rainbowPaint.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
}

div#wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3em;
    color: white;
    padding: 4em;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.7);
    border: .2em double #a30305;
    border-radius: .4em;
    color: teal;
    font-size: 3em;
    font-variant: small-caps;
    font-weight: bold;
    padding: .3em;
    text-align: center;
    text-shadow: 3px 4px 5px purple;
}

article#allArtistsInfo {
    background-color: rgba(0, 0, 0, 0.7);
    border: .2em double purple;
    border-radius: 1em;
    color: teal;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
    padding: .7em 1.5em;
}

article#allArtistsInfo p {
    text-align: center;
}

img.artistPhoto {                    
    border: .5em ridge #15a395;
    transition-duration: .3s;
    transition-property: all;
    width: 100%;
}

img.artistPhoto:visited {
    border: .5em ridge #234742;
}

img.artistPhoto:focus {
    border: .5em ridge #8ef2e5;
    box-shadow: 3px 4px 5px black;
}

img.artistPhoto:hover {
    border: .5em ridge #8ef2e5;
    box-shadow: 3px 4px 5px black;
}

figure.artistContainer {
    /* background-color: teal; /* TEMP FOR TESTING */
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 16em;
}

h2.artistName a:link{
    background-color: black;
    border: .2em double #a30305;
    border-radius: .4em;
    color: teal;
    font-variant: small-caps;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    text-decoration: none;
    text-shadow: 2px 3px 4px purple;
    transition-duration: .3s;
    transition-property: all;
    width: 12em;
}

h2.artistName a:visited {
    background-color: #383535;
    border: .2em double darkred;
    color: #6bcec1;
    text-shadow: 2px 3px 4px #c09fea;
}

h2.artistName a:focus {
    background-color: #212323;
    border: .4em double crimson;
    box-shadow: 3px 4px 5px black;
    color: #0cf4d6;
}

h2.artistName a:hover {
    background-color: #212323;
    border: .3em double crimson;
    box-shadow: 3px 4px 5px black;
    color: #0cf4d6;
}

article.artistInfo {
    text-align: center;
}

article.artistInfo p {
    color: lightseagreen;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 3px black;
}

article.artistInfo p.location {
    margin-top: 2.5em;
}

hr {
    border: 1px solid crimson;
}

hr.medium {
    border: 1px solid teal;
    width: 70em;
}

hr.short {
    border: 1px solid purple;
    width: 60em;
}

footer {
    clear: all;
    margin-top: 3em;
    text-align: center;
}




