/*  External style sheet for friendsInfo.html
    Author:  Elspeth Stalter-Clouse
    Date:  09/15/2018
*/

/*
    Below are styles that are specific to the
    friendsInfo.html web page
*/

body {
    background-color: teal;
}

div#wrapper {
    background-image: url(../images/orbBack.jpg);
    border: .5em ridge orange;
    color: black;
}

h1 {
    background-color: none;
    color: teal;
    font-family: "Book Antiqua" serif;
    font-size: 50px;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 3px 4px 5px aquamarine;
}

h2 {
    color: darkred;
    font-variant: small-caps;
    text-align: left;
    text-shadow: 3px 4px 5px goldenrod;
}

p#friend {
    text-align: center;
}

figure#photoContainer {
    /* background-color: pink; TEMP FOR TESTING*/
    float: left;
    margin-bottom: 2em;
    margin-right: 3em;
    width: 30em;
}

img#mapRoom {
    width: 100%;
    border: .2em outset maroon;
    box-shadow: 3px 4px 5px grey;
}

hr {
    border: 1px solid crimson;
}

footer {
    clear: both;
}