/*  External style sheet for index.html
    Author:  Elspeth Stalter-Clouse
    Date:  09/15/2018
*/

/*
    Below are styles that are specific to the
    index.html web page
*/

body {
    background-image: url(../images/tealFlower.jpg);
}

div#wrapper {
    background-color: darkorange;
    border: .5em ridge teal;
}

header {
    margin-bottom: 2em;
}

h1 {
    background-color: gold;
    border: .1em ridge maroon;
    border-radius: .4em;
    color: darkred;
    font-family: "Book Antiqua" serif;
    font-size: 50px;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 3px 4px 5px gray;
}

hr {
    border: 1px solid teal;
}

h2 {
    background-color: orange;
    border: .1em outset darkorange;
    border-radius: .4em;
    color: darkred;
    font-family: "Book Antiqua" serif;
    font-variant: small-caps;
    font-size: 20px;
    text-align: center;
    text-shadow: 3px 4px 5px gray;
}

h3 {
    color: darkred;
    font-family: "Book Antiqua" serif;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 3px 4px 5px gray;
}

nav#mainMenu {
    border-radius: .4em;
    font-family: "Book Antiqua" serif;
    padding: .1em;
    text-align: center;
}

nav#joinMenu {
    font-family: "Book Antiqua" serif;
    margin: 1em;
    text-align: center;
}

a.button:link {
    background-color: maroon;
    border: .3em outset teal;
    border-radius: .8em;
    color: gold;
    display: inline-block;
    font-size: .9em;
    font-weight: bold;
    margin: .4em;
    padding: .3em 1em .3em 1em;
    text-decoration: none;
    transition-duration: .3s;
    transition-property: all;
}

a.button:visited {
    background-color: teal;
    border: .3em inset maroon;
    color: gold;
}

a.button:focus {
    background-color: gold;
    border: .3em inset maroon;
    box-shadow: 3px 4px 5px black;
    color: maroon;
    text-shadow: 1px 2px 3px midnightblue;
}

a.button:hover {
    background-color: gold;
    border: .3em inset maroon;
    box-shadow: 3px 4px 5px black;
    color: maroon;
    text-shadow: 1px 2px 3px midnightblue;
}

a.joinButton:link {
    background-color: maroon;
    border: .3em outset teal;
    border-radius: .8em;
    color: gold;
    display: inline-block;
    font-size: .9em;
    font-weight: bold;
    margin: .3em;
    padding: .3em;
    text-decoration: none;
    transition-duration: .3s;
    transition-property: all;
    width: 19em;
}

a.joinButton:visited {
    background-color: teal;
    border: .3em inset maroon;
    color: gold;
}

a.joinButton:focus {
    background-color: gold;
    border: .3em inset maroon;
    box-shadow: 3px 4px 5px black;
    color: maroon;
    text-shadow: 1px 2px 3px midnightblue;
}

a.joinButton:hover {
  background-color: gold;
  border: .3em inset maroon;
  box-shadow: 3px 4px 5px black;
  color: maroon;
  text-shadow: 1px 2px 3px midnightblue;
}

figure#photoContainer {
    /* background-color: cyan; TEMP FOR TESTING */
    float: left;
    margin: 0em 2em .3em .1em;
    width: 25em;
}

img {
    border: .3em ridge maroon;
    box-shadow: 3px 4px 5px grey;
    width: 100%;
}

h3#commentHead {
    color: gold;
    background-color: maroon;
    border: .2em ridge orangered;
    border-radius: .4em;
    text-shadow: none;
}

aside#comments {
    background-color: lightseagreen;
    border: .5em double gold;
    border-radius: 3em;
    box-shadow: 3px 4px 5px gray;
    color: black;
    float: right;
    margin: 0em .1em .3em 2em;
    padding: .7em;
    width: 20em;
}

nav#commentLink {
    text-align: center;
}

h2#joinUs {
    clear: both;
}

footer {
    clear: both;
}
