/*  External style sheet for matroyshkaInformation.html
    Author:  Elspeth Stalter-Clouse
    Date:  11/1/2018
*/

/*
    Below are styles that are specific to the
    matroyshkaInformation.html web page
*/

body {
    background-image: url(../images/orangeBack2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    background-image: url(../images/orangeBoatBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: .2em ridge #a02d00;
    border-radius: 3em;
    color: maroon;
    font-family: "Book Antiqua", Times, serif;
    font-size: 4em;
    font-variant: small-caps;
    padding: .5em;
    text-align: center;
    text-shadow: 3px 4px 5px crimson;
}

article p {
    background-color: rgb(175, 52, 0);
    border: .3em ridge #560505;
    border-radius: 3em;
    color: orange;
    font-size: 1.1em;
    font-weight: bold;
    margin: 2em;
    padding: 1.5em;
    text-shadow: 1px 1px 1px black;
}

table {
    background-color: #ff7700;
    background-image: url(../images/orangeBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

td {
    border: .3em ridge #a02d00;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
    text-align: center;
}

td#cell01 {
    width: 60%;
}

td#cell01 img {
    border: .2em ridge #590202;
    box-shadow: 2px 3px 4px black;
    width: 100%;
}

td#cell02 {
    font-size: 1.2em;
    text-align: left;
}

footer {
    margin-top: 2em;
    text-align: center;
}

