/*  External style sheet for newArtist.html
    Author:  Elspeth Stalter-Clouse
    Date:  09/15/2018
*/

/*
    Below are styles that are specific to the
    newArtist.html web page
*/

body {
    background-image: url(../images/brushStrokes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div#wrapper {
	background-color: rgba(201, 175, 190, 0.4);
	border-radius: 3em;
	padding: 4em;
}

header {
	text-align: center;
}

header h1 {
	background-color: rgba(255, 255, 255, 0.6);
	border: .2em double #99d3d8;
	border-radius: 3em;
	font-size: 4em;
	font-variant: small-caps;
	margin: .8em;
	padding: .8em;
	text-shadow: 2px 3px 4px #770047;
}

header h2 {
	background-color: rgba(255, 255, 255, 0.6);
	border: .2em double #99d3d8;
	border-radius: 3em;
	font-size: 2em;
	font-variant: small-caps;
	margin: 1em;
	padding: .8em;
	text-shadow: 1px 2px 3px #770047;
}

article#applyInfo {
	background-color: rgba(255, 255, 255, 0.6);
	border: .2em double #99d3d8;
	border-radius: 3em;
	font-size: 1.1em;
	margin: 1em;
	padding: 1.5em;
	text-shadow: 1px 1px 1px #770047;
}

span.smallSpacer {
	margin: 1em;
}

span.tinySpacer {
	margin: .3em;
}

legend {
	background-color: rgb(201, 175, 190);
	border: .2em outset #770047;
	border-radius: 1em;
	color: #254147;
	padding: .4em;
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
	text-shadow: 1px 1px 1px cyan;
}

fieldset {
	background-color: rgba(255, 255, 255, 0.6);
	border: .4em double #99d3d8;
	border-radius: 2em;
	margin: 1.5em;
	padding: 1.2em;
}

fieldset label {
	color: #770047;
	font-size: 1.2em;
	font-variant: small-caps;
	font-weight: bold;
	text-shadow: 1px 2px 3px pink;
}

fieldset#name {
	width: 38em;
}

fieldset#address {
	width: 65em;
}

input#artistAddress {
	width: 15em;
}

input#artistLocation {
	width: 12em;
}

fieldset#artistGender {
	width: 15em;
}

fieldset#artistContactInformation {
	width: 42em;
}

input#artistEmail {
	width: 18em;
}

fieldset#professionalInfo {
	width: 77em;
}

fieldset#personalInfo {
	width: 50em;
}

fieldset#artistBio {
	background-color: rgba(201, 175, 190, 0.4);
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
	width: 20em;
}

fieldset#artistBio textarea {
	background-color: #c3eef7;
	border: .2em ridge #135e6d;
	border-radius: 1em;
	color: midnightblue;
	height: 20em;
	padding: .5em;
	transition-duration: .3s;
	transition-property: all;
	width: 25em;
}

fieldset#artistBio textarea:focus {
	background-color: #74d4db;
	border: .2em outset #062628;
	box-shadow: 3px 4px 5px midnightblue;
}

fieldset#artistBio textarea:hover {
	background-color: #74d4db;
	border: .2em outset #062628;
	box-shadow: 3px 4px 5px midnightblue;
}

input {
	background-color: #c3eef7;
	border: .2em ridge #135e6d;
	border-radius: .5em;
	color: midnightblue;
	font-family: monospace;
	padding: .5em;
	transition-duration: .3s;
	transition-property: all;
}

input.textBox:focus {
	background-color: #74d4db;
	border: .2em outset #062628;
	box-shadow: 3px 4px 5px midnightblue;
}

input.textBox:hover {
	background-color: #74d4db;
	border: .2em outset #062628;
	box-shadow: 3px 4px 5px midnightblue;
}

select {
	background-color: #c3eef7;
	border: .2em ridge #135e6d;
	border-radius: .5em;
	color: midnightblue;
	padding: .5em;
	transition-duration: .3s;
	transition-property: all;
}

select:focus {
	background-color: #74d4db;
	border: .2em outset #062628;
	box-shadow: 3px 4px 5px midnightblue;
}

select:hover {
	background-color: #74d4db;
	border: .2em outset #062628;
	box-shadow: 3px 4px 5px midnightblue;
}

p#controlButtons input {
	border-radius: 2em;
	font-family: "Book Antiqua", Times, serif;
	font-size: 1.2em; 
	font-weight: bold;
	margin: .5em;
	text-shadow: 1px 2px 3px grey;
}

p#controlButtons input:focus {
	background-color: teal;
	color: lightblue;
	text-shadow: 1px 2px 3px black;
}

p#controlButtons input:hover {
	background-color: teal;
	color: cyan;
	text-shadow: 1px 2px 3px black;
}

footer {
	text-align: center;
}

a#homeButton {
	background-color: rgb(201, 175, 190);
	border: .2em outset #770047;
	border-radius: 1em;
	color: teal;
	padding: .4em;
	font-family: "Book Antiqua", Times, serif;
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
	margin: 1em;
	text-decoration: none;
	text-shadow: 1px 1px 1px black;
	transition-duration: .3s;
	transition-property: all;
}

a#homeButton:visited {
	background-color: #78697a;
	border: .2em inset #49214f;
	color: lightseagreen;
}

a#homeButton:focus {
	background-color: #cc599b;
	border: .2em inset #68033d;
	box-shadow: 3px 4px 5px grey;
	color: #10dde8;
	text-shadow: 1px 1px 1px teal;
}

a#homeButton:hover {
	background-color: #cc599b;
	border: .2em inset #68033d;
	box-shadow: 3px 4px 5px grey;
	color: #10dde8;
	text-shadow: 1px 1px 1px teal; 
}