/*  External style sheet for newFriend.html
    Author:  Elspeth Stalter-Clouse
    Date:  09/15/2018
*/

/*
    Below are styles that are specific to the
    newFriend.html web page
*/

body {
    background-image: url(../images/coloredPencilBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div#wrapper {
    background-color: rgba(70, 107, 101, 0.3);
    border: .1em inset rgba(70, 107, 101, 0.5);
    border-radius: 3em;
    box-shadow: -12px -8px rgba(70, 107, 101, 0.7);
    padding: 4em;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.8);
    border: .2em double crimson;
    border-radius: 3em;
    color: teal;
    font-size: 4em;
    font-variant: small-caps;
    margin-left: auto;
    margin-right: auto;
    padding: .7em;
    text-align: center;
    text-shadow: 2px 3px 4px black;
    width: 16em;
}

header h2 {
    background-color: rgba(0, 0, 0, 0.8);
    border: .4em double teal;
    border-radius: 3em;
    color: crimson;
    font-size: 2em;
    font-variant: small-caps;
    margin-left: auto;
    margin-right: auto;
    padding: .7em;
    text-align: center;
    text-shadow: 2px 3px 4px black;
    width: 15em;
}

article#joinInfo {
    background-color: rgba(0, 0, 0, 0.8);
    border: .3em double crimson;
    border-radius: 1em;
    color: #c14c03;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
    text-shadow: 1px 2px 3px black;
}

article h3 {
    text-align: center;
}

span.smallSpacer {
    margin: 1em;
}

legend {
    background-color: black;
    border: .2em ridge #f93b3b;
    border-radius: 1em;
    color: darkorange;
    font-size: 1.3em;
    font-variant: small-caps;
    font-weight: bold;
    padding: .5em;
}

fieldset {
    background-color: rgba(0, 0, 0, 0.8);
    border: .3em ridge teal;
    border-radius: 1em;
    color: crimson;
	margin-bottom: 2em;
	padding: 1em;
	text-shadow: 1px 2px 3px black;
}

fieldset#friendName {
	width: 35em;
}

fieldset#friendAddress {
	width: 45em;
}

input#address {
    width: 16em;
}

input#friendLocation {
    width: 14em;
}

fieldset#friendContactInformation {
	width: 40em;
}

input#friendEmail {
    width: 18em;
}

fieldset#joinGroup {
	text-align: center;
	width: 15em;
}

fieldset#paymentInfo {
	text-align: center;
	width: 15em;
}

fieldset#comments {
    width: 20em;
}

fieldset#comments textarea { 
    background-color: #a3edcf;
    border: .3em ridge teal;
    border-radius: .6em;
    color: #194f39;
    height: 15em;
    padding: .5em;
    transition-duration: .3s;
    transition-property: all;
    width: 25em;
}

fieldset#comments textarea:focus {
    background-color: lightseagreen;
    border: .3em outset #004f63;
    box-shadow: 3px 4px 5px black;
    color: #022d27;
}

fieldset#comments textarea:hover {
    background-color: lightseagreen;
    border: .3em outset #004f63;
    box-shadow: 3px 4px 5px black;
    color: #022d27;
}

input.textBox {
    background-color: #a3edcf;
    border: .3em ridge teal;
    border-radius: .6em;
    color: #194f39;
    font-family: monospace;
    padding: .2em;
    transition-duration: .3s;
    transition-property: all;
}

input.textBox:focus {
    background-color: lightseagreen;
    border: .3em outset #004f63;
    box-shadow: 3px 4px 5px black;
    color: #022d27;  
}

input.textBox:hover {
    background-color: lightseagreen;
    border: .3em outset #004f63;
    box-shadow: 3px 4px 5px black;
    color: #022d27;
}

select {
    background-color: #a3edcf;
    border: .3em ridge teal;
    border-radius: .6em;
    color: #194f39;
    padding: .2em;
    transition-duration: .3s;
    transition-property: all;    
}

select:focus {
    background-color: lightseagreen;
    border: .3em outset #004f63;
    box-shadow: 3px 4px 5px black;
    color: #022d27;
}

select:hover {
    background-color: lightseagreen;
    border: .3em outset #004f63;
    box-shadow: 3px 4px 5px black;
    color: #022d27;
}

p#controlButtons input{
    background-color: black;
    border: .2em ridge #f93b3b;
    border-radius: .7em;
    color: darkorange;
    font-family: "Book Antiqua", Times, serif;
    font-size: 1.1em;
    font-variant: small-caps;
    font-weight: bold;
    padding: .5em;
    transition-duration: .3s;
    transition-property: all;
}

p#controlButtons input:focus {
    background-color: #414242;
    border: .2em outset crimson;
    box-shadow: 3px 4px 5px black;
    color: gold;
}

p#controlButtons input:hover {
    background-color: #414242;
    border: .2em outset crimson;
    box-shadow: 3px 4px 5px black;
    color: gold;
}

footer {
	text-align: center;
}

footer a.footerButtons:link {
    background-color: black;
    border: .2em ridge teal;
    border-radius: 1em;
    color: crimson;
    font-family: "Book Antiqua", Times, serif;
    font-size: 1.1em;
    font-variant: small-caps;
    font-weight: bold;
    margin: 2em;
    padding: .5em;
    text-decoration: none;
    transition-duration: .3s;
    transition-property: all;
}

footer a.footerButtons:visited {
    background-color: #222123;
    border: .2em outset #92fcd7;
    color: #fc9292;
    text-shadow: 2px 3px 4px black;	
}

footer a.footerButtons:focus {
    background-color: #414242;
    border: .2em outset lightseagreen;
    box-shadow: 3px 4px 5px black;
    color: darkorange;
}

footer a.footerButtons:hover {
    background-color: #414242;
    border: .2em outset lightseagreen;
    box-shadow: 3px 4px 5px black;
    color: darkorange;
}

