/*  External style sheet for world.html
    Author:  Elspeth Stalter-Clouse
    Date:  09/15/2018
*/

/*
    Below are styles that are specific to the
    world.html web page
*/

body {
    background-image: url(../images/spaceDots.jpg);
}

div#wrapper {
	background-color: #03183a;
	border: .5em ridge orange;
	max-width: 100em;
}

header h1 {
	background-color: #000547;
	border: .1em double orange;
	border-radius: .3em;
	color: #fcf299;
	font-family: "Book Antiqua", Times, serif;
	font-size: 5em;
	font-variant: small-caps;
	text-align: center;
	text-shadow: 3px 4px 5px teal;
}

header h2 {
	background-color: #000547;
	border: .1em ridge orange;
	border-radius: .3em;
	color: #fcf299;
	font-family: "Book Antiqua", Times, serif;
	font-size: 2em;
	font-variant: small-caps;
	text-align: center;
}

section#europe {
	background-color: #021533;
	border: .3em ridge midnightblue;
	box-shadow: 3px 4px 5px cyan;
    float: left;
    margin-left: 8em;
    margin-top: 4em;
    padding: 2em;
    transform: skew(2deg, 5deg);
}

section#asia {
	background-color: #021533;
	border: .3em ridge midnightblue;
	box-shadow: 3px 4px 5px cyan;
    float: left;
    margin-left: 8em;
    margin-top: 4em;
    padding: 2em;
    transform: skew(2deg, 5deg);

}

article.clear {
    clear: both;
    margin-top: 4em;
}

section#africa {
	background-color: #021533;
	border: .3em ridge midnightblue;
	box-shadow: 3px 4px 5px cyan;
	float: left;
	margin-left: 7.7em;
	margin-top: 4em;
	padding: 2em;
	transform: skew(2deg, 5deg);
}

section#southAmerica {
	background-color: #021533;
	border: .3em ridge midnightblue;
	box-shadow: 3px 4px 5px cyan;
	float: left;
	margin-left: 7.7em;
	margin-top: 4em;
	padding: 2em;
	transform: skew(2deg, 5deg);
}

h1.continentName {
	color: lightblue;
	font-family: "Book Antiqua", Times, serif;
	font-size: 3em;
	font-variant: small-caps;
	margin-bottom: 0em;
	margin-top: 1em;
	text-align: center;
	text-decoration: underline;
	text-shadow: 3px 4px 5px navy;
}

figure#europeContainer {
	/* background-color: cyan /* TEMP FOR TESTING */;
	margin: 3em;
	padding: 4em;
	width: 20em;
}

figure#asiaContainer {
	/* background-color: cyan; /* TEMP FOR TESTING */
	margin: 4em;
	padding: 4em;
	width: 18em;
}

figure#africaContainer {
	/* background-color: cyan; /* TEMP FOR TESTING */
	margin: 4em;
	padding: 4em;
	width: 18em;
}

figure#southAmericaContainer {
	/*background-color: cyan; /* TEMP FOR TESTING */
	margin: 3em;
	padding: 4em;
	width: 18em;
}

img.continent {
    border: .2em ridge teal;
    box-shadow: 3px 4px 5px navy;
	width: 100%;

}

nav.countryNav {
	margin: 1em;
	text-align: center;
}

a.button:link {
	background-color: #000547;
	border: .2em outset orange;
	color: #fcf299;
	font-family: "Book Antiqua", Times, serif;
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
	margin: 1em;
	padding: 0.5em;
	text-decoration: none;
	text-shadow: 1px 2px 3px gold;
	transition-duration: 0.3s;
	transition-property: all;
}

a.button:visited {
	background-color: darkorange;
	border: .2em outset #fcf299;
	color: #000547;
}

a.button:focus {
	background-color: blue;
	border: .2em inset gold;
	color: orange;
	text-shadow: 2px 3px 4px navy;
}

a.button:hover {
	background-color: blue;
	border: .2em inset gold;
	color: orange;
	text-shadow: 2px 3px 4px navy;
}


footer {
	clear: all;
	margin-top: 4em;
}

footer nav {
	margin: 1em;
	text-align: center;
}

footer p#date {
	color: teal;
	text-align: right;
}
