body {
    background-image: url(../images/homeBackground.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
}

@font-face {
    font-family:"American Typewriter";
    src: url("americanTypewriterFont.ttf") format("truetype");
  }

header {
    font-family: "American Typewriter", serif;
    margin: 4em;
    text-align: center;
    text-shadow: 2px 2px 3px #344145;
}

header h1 {
    font-size: 5em;
}

header h3 {
    font-size: 2em;
}

.headerNav {
    text-align: center;
}

.storyButton {
    background-color: goldenrod;
    border: .12em ridge rgb(182, 3, 3);
    border-radius: 3em;
    color: rgb(100, 7, 100);
    font-family: "American Typewriter", serif;
    font-size: 3.4em;
    margin: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgb(27, 1, 27);
    transition-duration: .3s;
    transition-property: all;
    width: 4em;
}

.storyButton:focus, .storyButton:hover {
    background-color: #ffbf00;
    box-shadow: 2px 3px 4px black;
}

footer {
    font-family: "American Typewriter", serif;
    font-size: 1.5em;
    margin: 4em;
    text-align: center;
    text-shadow: 2px 2px 3px #344145;
}

.footerButton {
    background-color: goldenrod;
    border: .14em ridge rgb(182, 3, 3);
    border-radius: 3em;
    color: rgb(100, 7, 100);
    font-size: 1em;
    margin: 1em;
    padding: 0.5em;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(27, 1, 27);
    transition-duration: .3s;
    transition-property: all;
}

.footerButton:focus, .footerButton:hover {
    background-color: #ffbf00;
    box-shadow: 2px 3px 4px black;
}